.block>p{
	color:purple;
}
.arial{
	font-family: Arial;
}
.fontsize30{
	font-size: 30px;
}
.italic{
	font-style: italic;
}
.fontweight{
	font-weight: 700;
}
.colorred{
	color:green;
}
.textalign{
	text-align: right;
}
.textdec{
	text-decoration: underline;
}
.textshadow{
	text-shadow: 1px 1px 10px black;
}
.transform{
	text-transform: uppercase;
}
.textindent{
	text-indent: 50px;
}
.space{
	letter-spacing: 5px;
}
.lineheight{
	line-height: 30px;
}
