/* Родительский body элемент позволит изменить цвет и фонт всех остальных элементов */
body{
	font-family: sans-serif;
	font-size: 16px;
    color:black;
}
/* Изменим внешний вид  (скругленные или прямоугольные углы) самой таблицы */
table,td,tr,select{
	border: 1px solid black;
   
    border-radius: 12px;
}

label{
	font-weight: 600;
}
/*   Внизу предусмотрено возможность изменения цвета фона КАЖДОЙ ячейки таблицы с применением градиента   */


#team-name-cell{
	background-image: linear-gradient(to right, #6497b1 , #03396c)

}
#date-cell{
	background-image: linear-gradient(to left,  #03396c, #b3cde0)

}
#phone-cell{
	background-image: linear-gradient(to right,  #6497b1, #b3cde0)
}
#age-cell{
	background-image: linear-gradient(to left,  #005b96, #b3cde0)
}
#type-cell{
	background-image: linear-gradient(to left,  #6497b1, #b3cde0)
}
#cost-cell{
	background-image: linear-gradient(to left,  #b3cde0, #005b96)
}
#station-cell{
	background-image: linear-gradient(to right,  #6497b1, #b3cde0)
}
#game-cell{
	background-image: linear-gradient(to left,  #b3cde0, #03396c)

}
#submit-cell{
	background-image: linear-gradient(to right,  #005b96, #b3cde0)
}